#page-admin-report-rolescapabilities-index h2.main {
    clear: both;
}

#page-admin-report-rolescapabilities-index #legend_container {
    float: left;
    width: 35%;
}

#page-admin-report-rolescapabilities-index #options_container {
    float: right;
    width : 60%;
}

#page-admin-report-rolescapabilities-index #options_container #repeat_each {
    display: inline;
    margin-left: 0.5em;
    margin-right: 1em;
}

#page-admin-report-rolescapabilities-index #legend dt {
    float: left;
    margin-right: 10px;
}

#page-admin-report-rolescapabilities-index #legend dd {
    margin-bottom: 5px;
}

#page-admin-report-rolescapabilities-index #legend dt span {
    border: 1px solid black;
}

#page-admin-report-rolescapabilities-index .rolecap {
    clear: both;
    margin-top: 25px;
    border: 1px solid black;
    border-collapse: collapse;
}

#page-admin-report-rolescapabilities-index .rolecap th,
#page-admin-report-rolescapabilities-index .rolecap td {
    border: 1px solid black;
}

#page-admin-report-rolescapabilities-index .rolecap td.cap_not_set,
#page-admin-report-rolescapabilities-index #legend dt span.not_set {
    background-color: white;
    text-align: center;
}

#page-admin-report-rolescapabilities-index .rolecap td.cap_1,
#page-admin-report-rolescapabilities-index #legend dt span.allow {
    background-color: green;
}

#page-admin-report-rolescapabilities-index .rolecap td.cap_-1,
#page-admin-report-rolescapabilities-index #legend dt span.prevent {
    background-color: yellow;
}

#page-admin-report-rolescapabilities-index .rolecap td.cap_-1000,
#page-admin-report-rolescapabilities-index #legend dt span.deny {
    background-color: red;
}
